[Desktop Entry]
Name=InsightStream goose
Exec=/usr/lib/insightstream-goose/insightstream-goose %U
Icon=/usr/share/pixmaps/insightstream-goose.png
Terminal=false
Type=Application
Categories=Development;
MimeType=x-scheme-handler/goose;
