name: Bundle Desktop Artifacts (Unsigned)

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  id-token: write
  contents: read
  actions: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  bundle-desktop:
    uses: ./.github/workflows/bundle-desktop.yml
    permissions:
      id-token: write
      contents: read
    with:
      signing: false

  bundle-desktop-intel:
    uses: ./.github/workflows/bundle-desktop-intel.yml
    permissions:
      id-token: write
      contents: read
    with:
      signing: false

  bundle-desktop-linux:
    uses: ./.github/workflows/bundle-desktop-linux.yml

  bundle-desktop-windows:
    uses: ./.github/workflows/bundle-desktop-windows.yml
    with:
      signing: false
